defaults:
  - /configs/eval_base.yaml
  - _self_

paths:
  base_experiment_log_dir: ${oc.env:HOME}/autodl-tmp/experiments
  bpe_path: null
  dataset_root: ${oc.env:HOME}/autodl-tmp/datasets

trainer:
  _target_: sam3.train.trainer.Trainer
  skip_saving_ckpts: true
  empty_gpu_mem_cache_after_eval: True
  skip_first_val: True
  max_epochs: ${scratch.max_data_epochs}
  accelerator: cuda
  seed_value: 123
  val_epoch_freq: 10
  mode: val

  distributed:
    backend: nccl
    find_unused_parameters: True
    gradient_as_bucket_view: True

  loss:
    all:
      _target_: sam3.train.loss.sam3_loss.DummyLoss
    default:
      _target_: sam3.train.loss.sam3_loss.DummyLoss

  data:
    train: null
    val:
      _target_: sam3.train.data.torch_dataset.TorchDataset
      dataset:
        _target_: sam3.train.data.sam3_image_dataset.Sam3ImageDataset
        coco_json_loader:
          _target_: sam3.train.data.coco_json_loaders.SAM3_DEFECT_DIR_LOADER
          _partial_: true
        img_folder: ${paths.dataset_root}
        ann_file: ${paths.dataset_root}
        transforms: ${scratch.base_val_transform}
        max_ann_per_img: 100000
        multiplier: 1
        load_segmentation: true
        training: false

      shuffle: False
      batch_size: ${scratch.val_batch_size}
      num_workers: ${scratch.num_val_workers}
      pin_memory: False
      drop_last: False
      collate_fn:
        _target_: sam3.train.data.collator.collate_fn_api
        _partial_: true
        repeats: ${scratch.hybrid_repeats}
        dict_key: defect

  meters:
    val:
      defect:
        segm:
          _target_: sam3.eval.coco_writer.PredictionDumper
          iou_type: "segm"
          dump_dir: ${launcher.experiment_log_dir}/dumps/defect
          merge_predictions: True
          postprocessor: ${scratch.mask_postprocessor_thresholded}
          gather_pred_via_filesys: ${scratch.gather_pred_via_filesys}
          maxdets: 1000000

model:
  _target_: sam3.model_builder.build_sam3_image_model
  bpe_path: ${paths.bpe_path}
  device: cuda
  eval_mode: true
  enable_segmentation: true

launcher:
  num_nodes: 1
  gpus_per_node: 1
  experiment_log_dir: ${paths.base_experiment_log_dir}/defect_eval

submitit:
  use_cluster: False
  timeout_hour: 12
  cpus_per_task: 8
  port_range: [16500, 16900]
